:root {
  --active_color: black;
  --additional_color: gray;
}
.breadcrumbs {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 41px;
  flex-wrap: wrap;
}
.breadcrumbs * {
  color: black;
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.breadcrumbs li {
  position: relative;
  cursor: pointer;
}
.breadcrumbs li:last-child {
  color: var(--active_color);
}
.breadcrumbs a {
  font-weight: normal;
  text-decoration: none;
  color: black;
  border-bottom: 2px dotted #000;
}
.breadcrumbs a:hover {
  color: var(--active_color);
  border-bottom: 2px dotted transparent;
}
.breadcrumbs .slash {
  color: var(--additional_color);
}


@media (max-width: 1024px) {
  .breadcrumbs {
    padding: 20px;
  }
  .breadcrumbs * {
    font-size: 20px;
  }
  .breadcrumbs li {
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .breadcrumbs {
    padding: 15px;
    gap: 5px;
  }
  .breadcrumbs * {
    font-size: 16px;
  }
  .breadcrumbs li {
    margin-right: 5px;
  }
}
