.head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 104px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1
}
.with-bg {
  background-color: black;
}

.without-bg {
  background-color: transparent;
}
.nav-links{
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.usage-btns{
  display: flex;
  gap: 7%;
  width: 400px;
  justify-content: center;
  align-items: center;
}
.users-btns{
  display: flex;
  height: max-content;
  width: max-content;
  padding: 5px 50px 5px 50px;
  border: 1px solid white;
  border-radius: 300px;
  margin-right: 10%;
  flex-direction: column;
  align-items: center;
}
.home-btn-text {
  width: 133px;
  height: 72px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 51px;
  font-family: Play,sans-serif;
  font-weight: Bold;
  font-size: 32px;
  text-align: center;
  line-height: normal;
}
.home-btn-line{
  width: 40px;
  transform: skew(0deg, 31deg);
  border-bottom: 4px solid black;
  position: absolute;
  top: 55px;
}
.guest-text{
  font-family: Play,sans-serif;
  font-weight: Bold;
  font-size: 24px;
  color: rgba(255,255,255,1);
}
.user-text{
  font-family: Play,sans-serif;
  font-weight: Bold;
  width: max-content;
  font-size: 24px;
  color: rgba(255,255,255,1);
}
.logout-btn{
  background:transparent !important;
  padding: 0 !important;
}