.mission-page-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap:60px;
  position: absolute;
  top: 148px;
  overflow: hidden;
}
.mission-title {
  width: 100%;
  height: 48px;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: Bold;
  font-size: 40px;
  text-align: center;
}
.mission-info {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 16px;
}
.mission-btns {
  display: flex;
  flex-direction: row;
  width: 1356px;
  height: auto;
  gap: 50px;
  margin-bottom: 50px;
  justify-content: flex-end;
}
.mission-del-btn{
  all:unset;
  width: 265px;
  height: 56px;
  padding-inline: 15px;
  border:2px solid rgb(61, 61, 61);
  display: flex;
  align-items: center;
  justify-content: center;

}
.mission-del-btn :hover{
  color: rgb(246, 65, 55);
}
.mission-form-btn{
  all:unset;
  width: 320px;
  height: 56px;
  padding-inline: 15px;
  border:2px solid rgb(61, 61, 61);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mission-form-btn :hover{
  color: rgb(246, 65, 55);
}

.mission-del-btn-text{
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}
.mission-form-btn-text{
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}
.mission-frame-title {
  width: 1366px;
  height: 62px;
}
.draft-element-column-title {
  width: 176px;
  padding-left: 228px;
  margin-right: 41%;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
}
.draft-element-column-description {
  width: 222px;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.price-title {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  left: 1214px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.mission-frame-info {
  width: 1366px;
  display: grid;
  height: auto;
  grid-template-columns: 1259px;
  grid-row-gap: 17px;
}
.draft-element{
  width: 1259px;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  gap: 200px;
  padding-left: 53px;
}
.card-frame-line-1{
  width:100%;
  height: 0;
  border:1px solid rgba(0, 0, 0, 1);
  margin-top: 26px;
}
.card-frame-line-2{
  width:100%;
  height: 0;
  border:1px solid rgba(0, 0, 0, 1);
}
.draft-elements{
  display: grid;
  height: auto;
  grid-template-columns: 1259px;
  grid-row-gap: 17px;
}
.draft-element-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.draft-element-info-box {
  width: 476px;
  height: 147px;
  background-size: cover;
  position: absolute;
  left: 54px;
  opacity: 1;
  overflow: hidden;
}
.draft-element-image{
  width: 200px;
  height: 148px;
}
.draft-element-title {
  width: 279px;
  height: 62px;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 24px;
  text-align: left;
}
.second-element-box{
  display: flex;
  gap: 30px;
  align-items: center;
}

.draft-element-description{
  width: 100%;
  height: 100%;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}
.quantity-box {
  width: 139px;
  height: 104px;
  opacity: 1;
  position: absolute;
  left: 898px;
  overflow: hidden;
}
.quantity-frame {
  width: 139px;
  height: 65px;
  background: rgba(255,255,255,1);
  opacity: 1;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.quantity {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 62px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.quantity-minus {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 23px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.quantity-plus {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 101px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.delete-draft-element-btn {
  all:unset;
  background-image: url("../../assets/delete-btn.png");
  background-size: 47px 47px;
  background-position: center;
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  border-radius: 12px;
  text-align: center;
  display: inline-block; /* Добавлено для корректного отображения кнопки */
}
