.missions-page-box{
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 8%;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 104px;
  margin-bottom: 5%;
}


.missions-content-box{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.missions-content-header{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.missions-content-header {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.missions-status-filter,
.missions-form-data-filter,
.missions-complete-data-filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.filter-text-title{
  all:unset;
  font-family: 'Play', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
label {
  font-size: 14px;
}

select, input[type="date"] {
    padding: 3%;
    height: 50px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.missions-table {
  margin-top: 20px;
  width: 90%;
  padding: 0 2% 0 2%;
  overflow-x: auto;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: rgba(215, 61, 47, 0.96);!important;;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr:hover {
  background-color: #e0e0e0;
}.missions-table-bordered {
  padding: 0 5% 0 5%;
  width: 100%;
  border-collapse: collapse;
}

.missions-table-bordered th,
.missions-table-bordered td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.no-data-cell {
  text-align: center;
  font-style: italic;
  color: #888;
  padding: 20px;
}
.go-to-mission-btn
{
  margin-bottom: 20px;
}
.no-missions-message {
  text-align: center;
  font-weight: bold;
  color: #888;
  padding: 15px;
}

.confirm-button{
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(215, 61, 47, 0.96);
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.reject-button{
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(199, 199, 199, 0.96);
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.reject-button:hover,.confirm-button:hover{
  color: black;
}