a {
  text-decoration: none !important;
}

.gateway-products-page-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  gap: 50px;
  padding: 0 5%;
}

.content-head {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.orders-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2%;
}

.products {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 310px 310px 310px;
  row-gap: 43px;
  column-gap: 158px;
}


.txt{
  display: block;
  position: absolute;
  left: 0;
  color: black;
  font-size: larger;
  width: 100%;
  text-align: center;
}
.missions-passive {
  width: 55px;
  height: 55px;
  opacity: 0.9399999976158142;
  background: rgba(255,255,255,1);
  border: 2px solid rgba(0,0,0,1);
  border-radius: 10px;
}
.missions-active{
  width: 55px;
  height: 55px;
  opacity: 0.9399999976158142;
  background: rgba(255,255,255,1);
  border: 2px solid rgb(246, 65, 55);
  border-radius: 10px;
}
.missions-active:hover {
  border: 2px solid rgb(112, 42, 42); /* Цвет бордера при ховере */
}

.missions-inside{
  width: 48px;
  height: 30px;
  display: flex;
  align-items: baseline;
  margin-top: 13px;
  margin-left: 3px;
}

.missions-image {
  width: 31px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8399999737739563;
}

.missions-quantity
{
  color: rgba(0,0,0,1);
  opacity: 0.84;
  font-family: Play,sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  margin-right: 2px;
}

.gateway-products-title {
  color: rgba(0, 0, 0, 1);
  font-family: Play, sans-serif;
  font-weight: bold;
  font-size: clamp(24px, 4vw, 36px);
  margin-top: 40px;
}

.toast-container-custom {
  position: fixed;
  bottom: 20px;
  right: 40%;
  min-width: 250px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.bg-success {
  background-color: #28a745; /* Зеленый для успеха */
  color: white;
}

.bg-warning {
  background-color: #ffc107; /* Желтый для предупреждения */
  color: black;
}

.toast-body {
  flex-grow: 1;
  padding-right: 10px;
}

.btn-close {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: inherit;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}



@media (max-width: 1390px) {
  .products {
    column-gap: 30px;
  }
}

@media (max-width: 1024px) {
  .gateway-products-page-content {
    margin-top: 120px;
  }
  .home-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .head {
    padding: 0 5%;
    display: flex;
    align-items: center;
  }
  .home-btn-text {
    position: static;
  }
  .home-btn-line {
    top: 70px;
  }
  .orders-search {
    gap: 30px;
    flex-direction: column;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 43px;
    column-gap: 158px;
  }
}


@media (max-width: 768px) {
  .gateway-products-page-content {
    margin-top: 120px;
    margin-bottom: 50px;
    gap: 30px;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .element-image{
    width: 100%;
  }
  .gateway-products-title {
    font-size: 24px;
  }
  .missions-passive {
    height: 45px;
  }
  .missions-inside{
    margin-top: 8px;
    margin-left: 9px;
  }
  .missions-image {
    width: 25px;
    height: 25px;
  }
  .missions-quantity {
    font-size: 11px;
  }
}